@import "tailwindcss";

@theme {
  --color-bg: #1B1464;
  --color-bgAlt: #5758BB;
  --color-primary: #EA2027;
  --color-primaryAlt: #ED4C67;
  --color-secondary: #ffa502;
  --color-secondaryAlt: #eccc68;
  --color-text: #e5e7eb;
  --color-mutedBG: #f1f2f6;
  --color-mutedText: #2f3542;
  --color-accent: #3b82f6;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #1e272e;
}

.picture {
  /* --mask:
    radial-gradient(34.99px at 50% 48px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(34.99px at 50% calc(100% - 48px), #000 99%, #0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
  /* background-image: url("./assets/images/picture-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  border-radius: 24% 76% 70% 30% / 30% 86% 14% 70%;
}

.picture img {
  border-radius: 59% 51% 70% 37% / 30% 86% 8% 67%;
}

/* Hide scrollbar in Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

.thin-scrollbar {
  scrollbar-width: thin;
}




#home {
  background-image: url("./assets/svgs/wave.svg");
  background-repeat: no-repeat;
  /* background-color: white; */
  background-size: contain;
  background-position: bottom;
}